<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>To Do Item List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p><a th:href="@{/addItem}">Add an item</a></p>

<p th:if="${#lists.isEmpty(toDoItemList)}">No items in your to do list!</p>

<p th:if="${not #lists.isEmpty(toDoItemList)}">To do list:<br/>
<table>
    <tr th:each="toDoItem : ${toDoItemList}">
        <td th:text="${#dates.format(toDoItem.dueDate, 'MM/dd/yyyy')}"></td>
        <td th:utext="${toDoItem.description}"></td>
    </tr>
</table>
</p>

</body>
</html>